/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(184, 91%, 17%);
    --clr-primary-2: hsl(185, 84%, 25%);
    --clr-primary-3: hsl(185, 81%, 29%);
    --clr-primary-4: hsl(184, 77%, 34%);
    /* primary/main color */
    --clr-primary-5: hsl(185, 62%, 45%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(185, 57%, 50%);
    --clr-primary-7: hsl(184, 65%, 59%);
    --clr-primary-8: hsl(184, 80%, 74%);
    --clr-primary-9: hsl(185, 94%, 87%);
    --clr-primary-10: hsl(186, 100%, 94%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --ff-primary: 'Lato', sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.Navbar{
    width: 100vw;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 11rem;
    box-shadow: 2px 2px 30px -10px gray;
    position: fixed;
    z-index: 9999;
    background-color: var(--clr-white);
}

.links{
    display: flex;
}

.links ul li {
    list-style: none;
 
}
.links ul li a {
    margin: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: var(--clr-grey-1);
    transition: color 300ms;
}

.links ul li a:hover {
    color: var(--clr-primary-5);
}

.Navbar i{
    color: var(--clr-primary-6);
    font-size: 1.3rem;
    margin: 0 0.5rem;
    transition: color 300ms;
}

.Navbar i:hover{
    color: var(--clr-primary-8);
}

.Hero{
    min-height: 100vh;
    background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)),
        url('../src/images/main.jpeg') center/cover no-repeat;    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4rem;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Hero h1{
    font-size: 4rem;
    letter-spacing: 0.2rem;
    color: var(--clr-white);
    margin: 0.5rem auto;
}

.Hero p{
    width: 45rem;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    color: var(--clr-white);
    margin-bottom: 1rem;
}

.Hero .btn{
    text-decoration: none;
    color: var(--clr-primary-5);
    margin-top: 0 auto;
    display: block;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    padding: 1rem 2rem;
    background-color: var(--clr-white);
    border: 2px solid transparent;
    transition: background-color 200ms;
}

.Hero .btn:hover{
    border: 2px solid var(--clr-white);
    background-color: transparent;
    color: var(--clr-white);
}

.about{
    width: 100vw;
    min-height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about h1{
    font-size: 2.5rem;
    color: var(--clr-grey-1);
    letter-spacing: 0.2rem;
}

.about h1 span{
    color: var(--clr-primary-6);
}

.img-para{
    width: 77vw;
    height: 35rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.left-img{
    width: 40vw;
    height: 35rem;
    position: relative;
}

.image-border{
    border: 0.5rem solid var(--clr-primary-5);
    width: 90%;
    height: 26rem;
    position: absolute;
    top: 5%;
    left: 2%;
}

.about-image{
    width: 90%;
    height: 26rem;
    position: absolute;
    top: 11%;
    left: 7%;
}

.para{
    width: 35vw;
    height: 35rem;
    display: flex;
    padding-top: 4rem;
    flex-direction: column;
    align-items: flex-start;
}

.para h2{
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
    margin-bottom: 0.5rem;
    color: var(--clr-grey-1);
}

.para p{
    margin-bottom: 1.5rem;
    color: var(--clr-grey-5);
    flex-wrap: wrap;
}

.para a{
    padding: 0.5rem 1rem;
    text-decoration: none;
    letter-spacing: 0.2rem;
    color: var(--clr-white);
    background-color: var(--clr-primary-6);
    transition: all 500ms;
}

.para a:hover{
    color: black;
    background-color: var(--clr-primary-8);
}

.Services{
    width: 100vw;
    height: auto;
    background-color: var(--clr-grey-10);
    padding: 3rem 2rem;
    text-align: center;
}

.Services h1{
    color: var(--clr-grey-1);
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}

.Services h1 span{
    color: var(--clr-primary-6);
}

.service-card-div{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.service-card{
    width: 24rem;
    /* border: 2px solid black; */
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    margin: 0 0.5rem;
}

.service-img{
    width: 5rem;
    height: 4rem;
    background-color: var(--clr-primary-5);
    color: var(--clr-primary-1);
    font-size: 2rem;
    padding: 0.5rem;
    margin: 1rem 1rem 1.5rem 1rem;
}


.service-details h3{
    font-size: 1rem;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
    color: var(--clr-grey-1);
}

.service-details p{
    font-size: 1rem;
    color: var(--clr-grey-5);
}

.Tours{
    text-align: center;
    width: 85vw;
    margin: 0 auto 6rem auto;
}

.Tours h1 {
    color: var(--clr-grey-1);
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    padding: 5rem 0rem 1rem 0rem;
}

.Tours h1 span {
    color: var(--clr-primary-6);
    letter-spacing: 0.2rem;
}

.Tours-card-div{
    /* border: 1px solid black; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 2rem;
        flex-wrap: wrap;
}

.tour-card{
    width: 23rem;
    margin: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background: var(--clr-grey-10);
    transition: transform 250ms;
}

.tour-card:hover{
    cursor: pointer;
    transform: scale(1.03);

}

.top{
    position: relative;
}

.top p{
    position: absolute;
    bottom: 1.5%;
    right: 0;
    padding: 0.5rem 1rem;
    background-color: var(--clr-primary-8);
    color: var(--clr-primary-1);
}

.top img{
    width: 100%;
    height: 15rem;
}

.bottom {
    padding: 1rem 1.5rem;
    text-align: left;
}

.bottom h4{
    font-size: 1rem;
    letter-spacing: 0.3rem;
    margin-bottom: 0.5rem;
    color: var(--clr-grey-1);
}

.bottom .info{
    color: var(--clr-grey-5);
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.bottom .tour-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    color: var(--clr-primary-5);
}

.footer{
    background: var(--clr-grey-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    margin-top: 2rem;
}

.footer-links ul li {
    list-style: none;

}

.footer-links ul li a {
    text-decoration: none;
    font-size: 1rem;
    margin: 0rem 0.5rem;
    letter-spacing: 0.2rem;
    color: var(--clr-white);
    transition: color 300ms;
}

.footer-links ul li a:hover {
    color: var(--clr-primary-5);
}

.social-logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.footer i{
    font-size: 2rem;
    margin: 0rem 0.5rem;
    color: var(--clr-white);
}

.footer i:hover{
    color: var(--clr-primary-5);
}

.footer .copyright{
    color: var(--clr-white);
    letter-spacing: 0.3rem;
    font-size: 1rem;
    margin-bottom: 6rem;
}

